<%= 
  link_to @title,
           {:controller => 'svn'},
            :action     => 'index',
            :class      => 'small'
%>

<%= flash_message %>

<%# use an iframe to disply this page %>

<%# svn_wc_tree 0.0.1 %>
<%= javascript_include_tag "svn_wc_tree/jquery-1.3.2.js" %>
<%= javascript_include_tag "svn_wc_tree/jquery.cookie.js" %>
<%= javascript_include_tag "svn_wc_tree/jquery.blockUI-2.31.js" %>
<%= javascript_include_tag "svn_wc_tree/source/jquery.tree.js" %>
<%= javascript_include_tag "svn_wc_tree/source/plugins/jquery.tree.checkbox.js" %>
<%= javascript_include_tag "svn_wc_tree/source/plugins/jquery.tree.contextmenu.js" %>
<%= javascript_include_tag "svn_wc_tree/svw.js" %>
<%= stylesheet_link_tag    "svn_wc_tree/svw.css" %>
<%# end svn_wc_tree 0.0.1 %>

<br /><br />

<input type='hidden' id="svn_local_repo_root" value='' />

<!-- start: show results from svn actions -->
<div id="show_hide_container" class="disp_no">
 <a id="hide_n_show">[-]</a>
</div>

<!-- <div id="svn_action_results" class="disp_no"> -->
<div id="svn_action_results"></div>
<!-- end: show results from svn actions -->

<table>
 <tbody>
   <tr>
     <td>
       <div class="demo" id="svn_repo_entries_tree" style="height:100%"></div>
     </td>
   </tr>
 </tbody>
</table>

</body>
</html>
